<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">

<h3>About us</h3>

<p>Are you in a need of a new uniform, scrub top or anything related to your work? Best quality, affordable

price and delivered as fast as possible for your convenience? AP Uniforms is here to help you. We are the

supplier of Medical wear, Chef wear, Work wear and Heath care products made by a well know brand through

out North America­ MOBB Medical.</p>

<p>Our goal is to continually provide you with the newest fashions in your field and offering the very

best in customer service.</p>

<p>Want your company logo or name to appear on your uniforms?</p>

<h3>We provide Embroidery service.</h3>

<li>Embroidery service is available on any order.</li> <br>

For more detailed information on

embroidery services contact us at info@apuniforms.com<br>

<strong>Embroidered items are not returnable. Please see our return policy.</strong>

</div>