<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Pick Up</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="well">

<h3>Location and Hours</h3>

<p>* Warehouse Pickup - 116-A Viceroy, Concord, ON L4K 2M1</p>
<p>Monday to Friday 9:30 - 5</p>

<h3>Policy</h3>

<p>* If you have requested an order for pick up and you fail to retreive your item(s) within 30 days we will charge a cancelation fee of $2.75/item. If you are unable to pick up your order in time please contact apuniforms@outlook.com. Unless otherwise noted, we will proceed to refund the remaining funds after the cancellation fee is deducted.</p>

</div> -->