<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shipping & Return Policy</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">


	<h3>Shipping:</h3><br>

	<h4>Delivery Schedule</h4>
	<hr>

	<p>Most orders are filled and ready to ship within 2 business days. Upon shipping, you will

	typically receive your order within 4 ­ 7 business days in Canada, 10 ­ 12 business days

	in United States. Deliveries are subject to availability of merchandise. Rush shipping is

	also available extra charges will apply. Air and International shipments are subject to an extra charge, please  email info@APUniforms.com </p><br>

	<h4>Backorders</h4>
	<hr>

	<p>In case we don't have a merchandise in stock, you will be notified and receive a credit

	back. Unfortunately, we don't provide any backorders for now.</p><br>

	<h3>Return policy:</h3>
	<hr>

	<p>You can return or exchange any new, unworn, unaltered, laundered or embroidered

	items within 30 business days of receipt of your item. We can issue a 100% refund

	to store credit or to your original payment method. A Return Authorization (RA)

	number must be requested within 14 days after receipt of goods. This number can

	be obtained by e­mailing our Returns Department. This RA number must be placed

	on the outside of all returned packages. All clearance items are final sale and are not subject to any 

	type of return. </p><br>

	<p>Customers are responsible for return shipping charges and these charges are not

	refundable.</p><br>

	<p><strong>Please note, embroidered items are not returnable.</strong></p><br>

	<h4>Refund Policy</h4>
	<hr>

	<p>If you are not 100% satisfied with your purchase, you can return your order for a full

	refund to store credit or full refund (100%) to your original payment method.

	Products must be in its new, un­used condition and include the original box and/or

	packaging with all tags included.</p><br>

	<p>Once your return is received and inspected by AP Uniforms (usually within 48 hours of receipt),

	your refund will be processed and a credit will be applied to your credit card or

	original method of payment. Please note that depending on your credit card

	company, it may take an additional 2­10 business days after your credit is applied

	and posted to your account.</p><br>

	<p>You are responsible for all shipping costs associated with getting your order back to our

	store.</p><br>

	<p>Please do not abuse this policy by ordering multiple (more than 2) of the same or similar

	item with the intention of returning the majority of your order. Please contact our

	customer service if you are unsure of sizing for any items prior to placing your

	order and we will be happy to help you narrow it down.</p><br>

	<h4>Packaging / Tags</h4>
	<hr>

	<p>Please make sure all original packaging, tags, etc are included and intact. If you are

	missing tags, please contact us prior to return.</p><br>

	<p>Items that are returned with missing or damaged packaging, tags, components, or

	hangers may be returned to the customer or subject to an additional processing

	fee of up to 20% of the merchandise cost based on the availability of those missing

	or damaged components.</p><br>

	<h4>Domestic Returns (Orders shipped within Canada)</h4>
	<hr>

	<p>Customer is responsible for shipping items back to us with the carrier of their choice.

	All shipments must be made prepaid, packages shipped COD will be rejected.</p><br>

	<h4>International Returns</h4>
	<hr>

	<p>International shipments should be marked as a "Merchandise Return" with a carrier that

	does not levy brokerage fees. Customer is responsible for any applicable

	brokerage or customs charges.</p><br>

	<p>Any items shipped COD or have additional brokerage fees that are charged to AP Uniforms

	upon delivery will be rejected.</p><br>

	<h4>Order Cancellation / Modifications</h4>
	<hr>

	<p>Orders can be modified or cancelled only while their status is labeled "In Process". Once

	an order has been "Sent to our SHIPPING DEPARTMENT" it cannot be cancelled

	or modified, as the order has been processed by our shipping department and we

	are awaiting tracking information.</p><br>

</div>