/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
	*= require_tree
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";

// Comments that remain in the SASS only 
// And are removed once it compiles into CSS.
$itemSpace: 20px 10px 20px 10px;
$pink:	rgb(200, 67, 152);
$yellow: rgb(249, 237, 56);
$pink_opaque: rgba(200, 67, 152, 0.4);
$purple: rgb(84, 82, 162);

.navbar-default .navbar-nav > li > a {
  color: black;
}

html, body {
	font-family: 'Open Sans';
}

body { background-color: $pink_opaque; }

#application_layout_banner {
	background-color: rgb(248, 240, 0);
	height: 200px;
	padding: 0px;
	margin: 0;
	#AP_Banner_Logo {
		display: block;
		margin: auto;
	}
}

.catalogue {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar {
	margin-bottom: 0px; 
	background-color: $purple !important;
	ul {
		padding: $itemSpace;
		margin: 0px;
		border: 0px dashed red;
		li { 
			display: inline; 
			text-align: center;
			border: 0px solid red;
			margin-left: 10px;
			margin-right: 10px; 
			a {
				color: white;
				&:hover {
					color: red;
					text-decoration: none;
					-webkit-transition: 0.5s;
				}
			}
		}
	}
}

#navbar_container {
	#navbar_options {
		vertical-align: middle;
		display: table-cell; 
	} 	
}


.products-container {
	.product {
		border: 1px solid none;
		font-family: 'Open Sans';
		padding-top: 1em;
		padding-bottom: 1em;
		&:hover {
			background-color: #FFFFE0;
			-webkit-transition: 1s;
		}
		ul {
		border-radius: 40px;			
		li {
			color: black;
			list-style-type: none;
				a {
					&:hover {
						color: red;
						text-decoration: none;
						-webkit-transition: 0.3s;
					}
				}
			}			
		}
	}
}


.itemDescription {
	padding: $itemSpace;
}

.itemPurchaseOptions {
	ul {
		padding: 0px;
		li {
			display: inline;
			list-style-type: none;
			padding: $itemSpace;
			border: 1px solid red;
		}
	}
}




