<h2> Warehouse </h2>
<div class="row catalogue">
  <!-- Middle Column -->
  <div class="products-container">
    <% @products.each do |product| %>
      <div class="col-lg-12">
      <h3><%= product.product_category.name %></h3>
      <div class="col-lg-12">
        <div class="product col-lg-6">    
          <ul>
            <li>
              <h4><%= link_to product.name, product_path(product.permalink) %></h4>
              <p><%= product.short_description %></p>
              <p><b>Price:</b> <%= number_to_currency product.price %></p>
            </li>
          </ul>
        </div>
      <% end %></div>
    </div>
  </div>
</div>