<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Clearance Items</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui negative message">
  <div class="header">
    Notice:
  </div>
  <p>All Clearance Items are FINAL SALE</p>
  <p>Each individual item is based on a color. You are to only make a size choice when purchasing clearance items.</p>
  <p>If you require assistance, or would like to place a bulk order please contact APUniforms@gmail.com</p>
</div>
<%= render 'product' %>
