<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Clearance Items</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui negative message">
  <div class="header" style="text-align:center;">
    ATTENTION:
  </div><br>
  <p style="text-align:center;">All Clearance Items are <strong>FINAL SALE</strong></p>
  <br>
  <p style="text-align:center;">If you require assistance, or would like to place a bulk order please contact APUniforms@gmail.com</p>
</div>
<%= render 'product' %>
