<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- Carousel Section -->
      <div class="row carousel-holder">
        <div class="col-md-12">
          <div class="carousel" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="slide-image" src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-1.jpeg" width="1140px" height="480px" alt="Image 1">
              </div>
              <div class="item">
                <img class="slide-image" src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-2.jpeg" width="1140px" height="480px" alt="Image 2">
              </div>
              <div class="item">
                <img class="slide-image" src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-3.jpeg" width="1140px" height="480px" alt="Image 3">
              </div>
              <div class="item">
                <img class="slide-image" src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-4.jpeg" width="1140px" height="480px" alt="Image 4">
              </div>
              <div class="item">
                <img class="slide-image" src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-5.jpeg" width="1140px" height="480px" alt="Image 5">
              </div>

            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="<%= nurse_path %>">
            <img src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-5.jpeg" width="360px" height="200px" alt="image 1" style="max-width:100%">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="<%= chef_path %>">
            <img src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-3.jpeg" width="360px" height="200px" alt="image 1" style="max-width:100%">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="<%= stethoscopes_path %>">
            <img src="https://s3-us-west-2.amazonaws.com/ap-uniforms-pictures/image-1.jpeg" width="360px" height="200px" alt="image 1" style="max-width:100%">
          </a>
        </div><br>
      </div>
      
      <h1>Clearance Items</h1>
      <hr>
      <div class="row">
        <%= render 'products' %>
      </div>
    </div>
  </div>
</div>

